[submodule "Odd/ThirdParty/SDL"]
	path = Odd/ThirdParty/SDL
	url = https://github.com/libsdl-org/sdl
[submodule "Odd/ThirdParty/spdlog"]
	path = Odd/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "yaml-cpp"]
	path = Odd/ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "D3D12MemoryAllocator"]
	path = Odd/ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
